body{
  margin:0;
  padding: 0;
  max-width: 100%;
  height: auto;
  background-color: hsl(185, 75%, 39%);
}

.card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-position: -250px -489px, 1100px 650px;
  background-repeat: no-repeat, no-repeat;
  
  
  
}

#cartao{
  text-align: center;
  background-color: #FFF;
  width: 360px;
  height: 340px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
  /*top:315px;*/
  display: flex;
  
  flex-flow: wrap;
 
  border-radius: 30px;
}

.cartao-cima{
  display: flex;
  width: 360px;
  height: 110px;
  background-image: url("../images/bg-pattern-card.svg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

p{
  display: inline-block;
  line-height:10px;
}

.victor{
  width: 96px;
  border-radius: 100%;
  position: relative;
  bottom:50px;
  margin-left: 132px;
  
  
}

.objetos{
  
  bottom:50px;
}

.counters{
  display: flex;
  justify-content: space-evenly;
  

}

.bold{
  font-weight: 700;
}

.cinza{
  color:hsl(0, 0%, 59%);
}

.tamanhoTexto{
  /*font-size:7px;
  letter-spacing: 2px; */
}

hr{
  border:none;
  height: 1px;
  color:#D3D3D3;
  background-color: #D3D3D3;

}

ul {
    padding: 15px;
    border-spacing: 50px 10px;
    margin-left: auto;
    margin-right: auto;

}

