body {
  font-family: Kumbh Sans, sans-serif;
  background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
  background-color: hsl(185, 75%, 39%);
  background-repeat: no-repeat, no-repeat;
  background-position: -300px -450px, 650px 400px;
  overflow: hidden; 
}

footer {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

.flex-container {
  display: flex;
  margin-top: 15%;
  margin-bottom: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.item {
  min-height: 20px;
  text-align: center;
}

#card.item {
  width: 350px;
  height: 373px;
  border: 2px hidden hsl(227, 10%, 46%);
  border-radius: 13px;
  background-color: aliceblue;
  background-image: url(/images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: 0px -10px;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  
}

#img {
  position: relative;
  top: 90px;
}

#photo {
  border: 4px solid aliceblue;
  border-radius: 70px;
}

.item1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
  
}

.item2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid lightgrey;
}

#name {
  font-weight: bold;
  flex-basis: auto;
  padding-right: 8px;
  
}

#age {
  font-weight: lighter;
  color: hsl(227, 10%, 46%);
  flex-basis: auto;
}

#city {
  font-weight: lighter;
  font-size: small;
  color: hsl(227, 10%, 46%);
  flex-basis: 100%;
  margin: 0;
}

#numbers {
  font-weight: bold;
  flex-basis: 33%;
  margin-bottom: 8px;
}

#labels {
  font-weight: lighter;
  font-size: x-small;
  color: hsl(227, 10%, 46%);
  flex-basis: 33%;
  margin: 0;
}