body{
  margin:0;
  padding: 0;
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  background-color: hsl(185, 75%, 39%);
}

.imagem-cima{
  width: 100%;
  height:100%;
  background-image: url("../images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  background-position: top -450px left -360px ;
  
  position: absolute;

}

.imagem-baixo{
  width: 100%;
  height:100%;
  background-image: url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: top 400px left 620px;
  
  position: absolute;

}

#cartao{
  text-align: center;
  background-color: #FFF;
  width: 25%;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:150px;
 
  border-radius: 30px;
}

.cartao-cima{
  display: flex;
  width: 360px;
  height: 100px;
  background-image: url("../images/bg-pattern-card.svg");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

p{
  display: inline-block;
  line-height:10px;
}

.victor{
  width: 26%;
  border-radius: 100%;
  position: relative;
  bottom:50px;
}

.objetos{
  position: relative;
  bottom:50px;
}

.contadores{
  position: relative;
  bottom:60px;
  left:-5px;
}

.negrito{
  font-weight: 700;
}

.cinza{
  color:hsl(0, 0%, 59%);
}

.tamanhoTexto{
  font-size:7px;
  letter-spacing: 2px;
}

hr{
  border:none;
  height: 1px;
  color:#D3D3D3;
  background-color: #D3D3D3;

}

table{
    padding: 15px;
    border-spacing: 50px 10px;
    margin-left: auto;
    margin-right: auto;

}

